body{
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}
.main-title{
    text-align: center;
    font-size: 40px;
   margin-top: 40px;
}


span{
    color: #b32d00;
}
hr{
    text-align: center;
    width: 20%;
    color: #e62e00;
    border-top: 3px solid;
  
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0;
    margin-bottom: 80px;
}

 .main-grid-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    padding: 20px 50px;
}

button{
   
    background-color:#e62e00;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;

}

.button-design{
    text-decoration: none; 
    color: white;
}
.myInfo img{
    width: 80%;
    margin: 0%;
}
.header-email{
    margin-left:50px;
}

#my-exp{
    border-left: 7px solid;
    border-image: linear-gradient(30deg, #c0c04e, #0c1cca, #7bec1e 20px) 60;
    border-image-slice: 1;
}
#my-goal{
    border-left: 5px solid;
    border-image: linear-gradient(#f6b73c, #459900) 30;
    border-image-slice: 1;
    margin-right: 20px;
}
.Exp-Goal{
    
    margin: 10% 10% 10% 10%;
    padding-left: 20px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
 
}
.Gallery-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px 50px;
}
.form-for-contuct{
    display: grid;
   grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px 50px;
}
input, textarea {
    width:500px;
    padding: 20px;
    margin-bottom: 4%;
}
.contuct-button{
    background-color:#e62e00;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-left: 180px;
}
.contuct-button-design{
    text-decoration: none; 
    color: white;
  
}
.footer-class{
   text-align: center;
    color: white;
   padding-top: 15px;
   padding-bottom: 15px;
    background-color: black;
    width: 100% !important;
}
.social-media{
    color: white;
    margin-right: 5px;
}